body {
    text-align: center;
}

.generate-prime-btn-position {
    margin: 10% auto;
}

.number-span-position {
    display: block;
}

.number-span-style {
    font-size: 100px;
    font-weight: bold;
    color: cadetblue;
}